.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  margin-bottom: 8px;

  &-right {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
  }

  &-add {
    width: 20px;
    height: 20px;
  }

  &-count {
    height: 20px;
    border: 1px solid;
    border-color: var(--primary-gray-20);
    padding: 0 6px;
    border-radius: 4px;
  }
}

